.App {
  text-align: center;
  line-height: 2.5em;
}

h1 {
  margin: 0.6em;
}

button {
  margin: 0.1em;
}

.nameList {
  max-width: 25em;
}

.nameList > p {
  display: inline-block;
  margin: 0;
  padding-left: 2%;
}

.nameList > p:hover {
  color: turquoise;
}

.nameList > p:active {
  color: darkcyan;
}

.nameList > .first {
  padding-left: 1%;
}

.copiedMessage {
  opacity: 0;
  margin: 0;
  padding-top: 1em;
  font-size: x-large;
  animation-name: copiedMessageFade;
  animation-duration: 2s;
}

@keyframes copiedMessageFade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.App-headerStart { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #1b263a; 
  color: white;
}

.App-headerDark { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  animation-name: lightToDark;
  animation-duration: 1s; 
  background-color: #1b263a; 
  color: white;
}

.App-headerLight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  animation-name: darkToLight;
  animation-duration: 1s; 
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.linkStart {
  color: white;
}

.linkDark {
  animation-name: blackToWhite;
  animation-duration: 1s;
  color: white;
}

.linkLight {
  animation-name: whiteToBlack;
  animation-duration: 1s;
  color: black;
}

a:hover {
  color: turquoise;
}

@keyframes lightToDark {
  from {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  to {
    background-color: #1b263a; 
    color: white;
  }
}

@keyframes darkToLight {
  from {
    background-color: #1b263a;
    color: white;
  }
  to {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
}

@keyframes whiteToBlack {
  from {color: white;}
  to {color: black;}
}

@keyframes blackToWhite {
  from {color: black;}
  to {color: white;}
}